# ENVIRONMENT
SPRING_PROFILES_ACTIVE=dev

# DATABASE
DB_URL=jdbc:postgresql://localhost:5432/venues
DB_USERNAME=admin
DB_PASSWORD=change_me

# JWT
JWT_SECRET=your_long_random_secret_here

# EMAIL
MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=your_gmail_app_password

# REDIS (if used)
REDIS_HOST=localhost
REDIS_PORT=6379
