<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{email/layout :: layout('Reset Your Password', ~{::content})}">

<body>
<div th:fragment="content">
    <p>Hello <span th:text="${name}">User</span>,</p>
    <p>We received a request to reset your password.</p>
    <p>Click the button below to choose a new password:</p>
    <a th:href="${resetUrl}" class="button">Reset Password</a>
    <p>If you didn't request a password reset, you can safely ignore this email. Your password will not change.</p>
    <p>This link is valid for 1 hour.</p>
</div>
</body>

</html>